body
{
	background-color: #add8e6
}


h1
{
	color:blue;
	font-family: verdana;
	font-style : bold;
}

.logo
{
	max-width: 25%;
	height: auto;
	border: 1px #878787 solid;
}

li
{
	font-style: italic;
}