* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section {
  display: none;
}

.displayed {
  display: flex;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0vw;
  height: 0vh;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
  transition: width 1s ease-in-out, height 1s ease-in-out, z-index 1s ease-in-out;
  border-radius: 50%;
  background-image: linear-gradient( 112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
}

#nav-menu.open {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  height: 200vh;
  white-space: nowrap;
  overflow: hidden;
  background-image: linear-gradient( 112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
}

#nav-menu ul {
  position: absolute;
  text-align: center;
  list-style: none;
  line-height: 3;
}

#nav-menu ul li {
  padding: 3px;
}

#nav-menu ul li a {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
  opacity: 1;
}

a:hover {
  text-decoration: none;
}

.devLogo {
  width: auto;
  height: 70px;
}

.burger-btn {
  position: absolute;
  z-index: 11;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
}

.nav-burger-btn {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 28px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-burger-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  background-color: black;
}

.nav-burger-btn span:nth-child(1) {
  top: 0px;
}

.nav-burger-btn span:nth-child(2) {
  top: 12px;
}

.nav-burger-btn span:nth-child(3) {
  top: 12px;
}

.nav-burger-btn span:nth-child(4) {
  top: 24px;
}

.nav-burger-btn.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.nav-burger-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-burger-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-burger-btn.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient( circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
}

#photo {
  margin: 40px 0px;
  width: 50%;
}

.wrap {
  width: 100%;
}

#arrow-prev,#arrow-next {
  height: 25px;
  width: auto;
}

#arrow2 {
  position: ablsolute;
  bottom: 18px;
  height: 25px;
  width: auto;
}

.wrap img {
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 57%;
  bottom: 10px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  11% {
    transform: translateY(0);
  }
  22% {
    transform: translateY(-15px);
  }
  27% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-15px);
  }
  44% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: -100%;
  bottom: auto;
  right: auto;
  background: #4d606e;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.left-layer.active {
  left: 100%;
}
.left-layer--2 {
  background: #d3d4d8;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.left-layer--3 {
  background: #d3d4d8;
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}
.left-layer--4 {
  background: #c06c84;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}



/****************************************************/

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  #nav-menu {
    border-radius: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: none;
  }
  #nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #nav-menu ul li {
    padding: 0;
  }
  header {
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: lightslategray;
    box-shadow: inset 0px -8px 5px 0px rgba(85, 102, 119, 1);
  }
  #navbar {
    display: flex;
    width: 50%;
  }
  .wrap {
    display: none;
  }
  #home {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
  }
  #home h3 {
    margin-bottom: 50px;
  }
  #photo {
    margin: 40px 0px;
    width: 20%;
  }
}